# Bajando datos de diferentes fuentes. Ejemplos

## Bajar datos de Bicimad

In [1]:


# url = 'https://opendata.emtmadrid.es/getattachment/7517a650-ccdf-4ab1-b1b0-a1d13694472e/201906_Usage_Bicimad.aspx'

## Importando datos desde la API de INE

In [2]:



# url_plantilla = 'http://servicios.ine.es/wstempus/js/ES/DATOS_SERIE/{codigo}?nult={num_datos}'

# codigo de la serie de datos a consultar y numero de datos



# realizar la descarga de los datos usando la libreria request, y leyendo el formato json


# obtenemos el nombre de la serie para nombrar la columna en el data frame


# Creamos una serie con las fechas, y las convertimos a zona horaria española y formateamos


# en x la columna Fecha sale del valor en datos['Data'] pero formateando a fecha



# creamos una lista con los valores de la serie que vienen en el tag 'Valor'

In [3]:
# contruimos un dataframe de pandas con los valores

## Web scrapping de IMDB

In [4]:


# Download IMDB's Top 250 data


# Store each item into dictionary (data), then put those into a list (imdb)

'''
for index in range(0, len(movies)):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "star_cast": crew[index],
            "rating": ratings[index],
            "vote": votes[index],
            "link": links[index]}
    imdb.append(data)
df = pd.DataFrame(imdb)
df
'''


#for item in imdb:
#    print(item['place'], '-', item['movie_title'], '('+item['year']+') -', 'Starring:', item['star_cast'])

'\nfor index in range(0, len(movies)):\n    # Seperate movie into: \'place\', \'title\', \'year\'\n    movie_string = movies[index].get_text()\n    movie = (\' \'.join(movie_string.split()).replace(\'.\', \'\'))\n    movie_title = movie[len(str(index))+1:-7]\n    year = re.search(\'\\((.*?)\\)\', movie_string).group(1)\n    place = movie[:len(str(index))-(len(movie))]\n    data = {"movie_title": movie_title,\n            "year": year,\n            "place": place,\n            "star_cast": crew[index],\n            "rating": ratings[index],\n            "vote": votes[index],\n            "link": links[index]}\n    imdb.append(data)\ndf = pd.DataFrame(imdb)\ndf\n'

## Accediendo a datos de twitter

In [5]:
#pip install tweepy


# estos token y keys hay que generarlos desde Twitter: https://apps.twitter.com
# https://developer.twitter.com/
# hay que registrarse una cuenta de desarrollador de aplicaciones que usan Twitter
# esos token y keys caducan pasado un tiempo (nos avisa al crearlos)

access_token = ""  
access_token_secret = ""  
consumer_key = ""  
consumer_secret = ""

In [6]:

#Use csv Writer

In [7]:

#Use csv Writer

## Bajando datos de la calidad del aire

También existe un dataset en Kaggle, pero vamos a ver un ejemplo

In [8]:



# url2 = "http://www.mambiente.munimadrid.es/opendata/horario.txt"