# Ex1 - Getting and knowing your Data

### Step 1. Go to https://www.kaggle.com/openfoodfacts/world-food-facts/data

The dataset is also in Google Classrom!! 20_4275_bundle_archive.zip

###  Step 2. Download the dataset to your computer and unzip it.

### Step 3. Use the tsv file and assign it to a dataframe called food

### Step 4. See the first 5 entries

### Step 5. What is the number of observations in the dataset?

### Step 6. What is the number of columns in the dataset?

### Step 7. Print the name of all the columns.

### Step 8. What is the name of 105th column?

### Step 9. What is the type of the observations of the 105th column?

### Step 10. How is the dataset indexed?

### Step 11. What is the product name of the 19th observation?

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1

In [ ]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

### Step 7. Print the name of all the columns.

### Step 8. How is the dataset indexed?

### Step 9. Which was the most-ordered item?

In [ ]:
# usar groupby

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
# usar groupby

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
# usar groupby

### Step 12. How many items were orderd in total?

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

### Step 17. How many different items are sold?